Repository mhfortuna/node-develop-your-mvc-project, pull requests merged in 2021-09, with the labels that each got.

#40 Feat f/27/product page
  frontend/src/App.js
  frontend/src/components/SidebarCart/SidebarCart.js
  frontend/src/components/SidebarProduct/SidebarProduct.js
  frontend/src/components/SidebarProduct/SidebarProduct.scss
  frontend/src/pages/Public/Product/Product.js
  frontend/src/pages/Public/Product/Product.scss
  frontend/src/sass/components/_font.scss
  frontend/src/sass/components/_globals.scss
Labels: frontend feature

#46 cartIcon uploaded on Header
  frontend/src/components/Header/Header.js
  frontend/src/components/SVGIcons/CartIcon/CartIcon.js
  frontend/src/components/SVGIcons/CartIcon/index.js
  frontend/src/hoc/withLayout.js
Labels: frontend feature

#58 Feat f/47/add quantity to cart
  frontend/src/components/CheckoutProduct/CheckoutProduct.js
  frontend/src/components/CheckoutProductsList/CheckoutProductsList.js
  frontend/src/components/QuantityIcon/QuantityIcon.js
  frontend/src/components/QuantityIcon/QuantityIcon.scss
  frontend/src/components/QuantityIcon/index.js
  frontend/src/components/QuantityWrapper/QuantityWrapper.js
  frontend/src/components/QuantityWrapper/QuantityWrapper.scss
  frontend/src/components/QuantityWrapper/index.js
  frontend/src/components/ShoppingCartItem/ShoppingCartItem.js
  frontend/src/components/SidebarProduct/SidebarProduct.js
  frontend/src/context/cart-context.js
  frontend/src/pages/Public/ShoppingCart/ShoppingCart.js
  frontend/src/sass/components/_globals.scss
Labels: frontend feature

#69 Feat f/61/final styling
  frontend/src/components/CheckoutProduct/CheckoutProduct.js
  frontend/src/components/CheckoutProductsList/CheckoutProductsList.js
  frontend/src/components/Footer/Footer.scss
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.scss
  frontend/src/components/Main/Main.scss
  frontend/src/components/ProductCard/ProductCard.js
  frontend/src/components/ShoppingCartItem/ShoppingCartItem.js
  frontend/src/components/ShoppingCartItem/ShoppingCartItem.scss
  frontend/src/components/ShoppingCartList/ShoppingCartList.js
  frontend/src/components/SidebarCart/SidebarCart.js
  frontend/src/components/SidebarCart/index.js
  frontend/src/pages/Public/Home/Home.js
  frontend/src/pages/Public/Product/Product.js
  frontend/src/pages/Public/Product/Product.scss
  frontend/src/sass/components/_colors.scss
  frontend/src/sass/components/_globals.scss
Labels: frontend feature, Wishlist

#88 Bug/02/resolve some bugs
  backend/src/db/data-products.js
  backend/src/index.js
  frontend/src/components/Header/Header.js
  frontend/src/constants/routes.js
  frontend/src/pages/Public/ShoppingCart/ShoppingCart.js
Labels: bug
